* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #1f8ac0;
}

.menu {
    width: 100%;
    padding: 10% 0 1% 45%;
    color: #000;
}

.menu-list {
    width: 100%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
}

/*-----------Styling Chicken-------------*/
.chicken {
    width: 400px;
    height: 200px;
    background-color: #efc9af;
    margin: 10px 30px 0px 10px;
    border: 3px solid #283350;
}

.chicken h4 {
    width: 200px;
    padding: 3px 0px 4px 60px;
    float: right;
    font-size: 20px;
    background-color: #a0aefa;
    color: #104c91;
    border-bottom: 3px solid #283350;
    border-left: 3px solid #283350;
    font-family: 'Yatra One', cursive;
}

.chicken p {
    padding: 45px 10px;
}

/*        Styling Beef            */
.beef {
    width: 400px;
    height: 200px;
    background-color: #efc9af;
    margin: 10px 30px 0px 10px;
    border: 3px solid #283350;
}

.beef h4 {
    width: 200px;
    padding: 3px 0px 4px 60px;
    float: right;
    font-size: 20px;
    background-color: #a0aefa;
    color: #104c91;
    border-bottom: 3px solid #283350;
    border-left: 3px solid #283350;
    font-family: 'Yatra One', cursive;
}

.beef p {
    padding: 45px 10px;
}

/*              Styling Sushi           */
.sushi {
    width: 400px;
    height: 200px;
    background-color: #efc9af;
    margin: 10px 30px 0px 10px;
    border: 3px solid #283350;
}

.sushi h4 {
    width: 200px;
    padding: 3px 0px 4px 60px;
    float: right;
    font-size: 20px;
    background-color: #a0aefa;
    color: #104c91;
    border-bottom: 3px solid #283350;
    border-left: 3px solid #283350;
    font-family: 'Yatra One', cursive;
}

.sushi p {
    padding: 45px 10px;
}

/*       Responsive Disign             */
/*     For Tablet-view       */
@media (min-width:768px) and (max-width:991px) {
    .menu {
        width: 100%;
        padding: 10% 0 4% 45%;
        font-size: 25px;
        
    }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body{
        background-color: brown;
    }
    }
    .menu-list {
        width: 100%;
        height: 400px;
    }

    .chicken {
        margin-left: -3px;
        width: 44%;
    }

    .chicken h4 {
        width: 120px;
        padding: 2px 0px 2px 20px;
        font-size: 19px;
    }

    .beef {
        width: 44%;
        margin-right: -6px;
    }

    .beef h4 {
        width: 120px;
        padding: 2px 0px 2px 20px;
        font-size: 19px;
    }

    .sushi {
        margin: 230px;
        position: absolute;
        float: right;
        width: 92%;
    }

    .sushi h4 {
        width: 120px;
        padding: 2px 0px 2px 20px;
        font-size: 19px;
    }
}

/*        For Moblie-View        */
@media(max-width:768px) {
    .menu {
        font-size: 25px;
        padding: 40px 0 0 140px;
    }

    .menu-list {
        width: 100%;
        height: 500px;
        display: grid;
    }

    .chicken {
        margin: 10px 20px 0 20px;
        width: 90%;
        height: 80%;
    }

    .chicken h4 {
        width: 150px;
        padding: 5px 0px 1px 50px;
        font-size: 19px;
    }

    .beef {
        margin: 10px 20px 0 20px;
        width: 90%;
        height: 80%;
    }

    .beef h4 {
        width: 150px;
        padding: 5px 0px 1px 50px;
        font-size: 19px;
    }

    .sushi {
        margin: 10px 20px 0 20px;
        width: 90%;
        height: 80%;
    }

    .sushi h4 {
        width: 150px;
        padding: 5px 0px 1px 50px;
        font-size: 19px;
    }
}